<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @rating.rate %>
</p>

<p>
  <strong>Course:</strong>
  <%= @rating.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user.email %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
