<div class="container">
	<h2>Recommendations for <%= @user.username %></h2>
	<!-- p>User id: <%= @user.id %> </p>
	<p> Email: <%= @user.email %> </p> -->
	<!--<p><%= @ratings_seen %></p> -->
	

	<div class="container">
		<div class="row">
			<% @courses.each do |course| %>
				<div class="col-md-3">
					<div class="thumbnail">
						<%= image_tag course.image_url, alt: "Course Image" %>
						<div class="caption">
							<p><%=link_to course.name, course_path(course)%></p>
						</div>
						<br>
					</div>
				</div>
			<% end %>
		</div>
	
	</div>
</div>